

 .ilogin {
     width: 76%;
     color: rgb(38, 50, 56);
     opacity: 1;
     font-weight: 700;
     font-size: 14px;
     letter-spacing: 1px;
     background: rgba(136, 126, 126, 0.04);
     padding: 10px 20px;
     border: none;
     border-radius: 20px;
     outline: none;
     box-sizing: border-box;
     border: 2px solid rgba(0, 0, 0, 0.02);
     margin-bottom: 50px;
     margin-left: 46px;
     text-align: center;
     margin-bottom: 27px;
     font-family: 'Ubuntu', sans-serif;
 }

 .bottonelogin {
     cursor: pointer;
     border-radius: 5em;
     color: #fff;
     opacity: 1;
     background: linear-gradient(to right, #aa2222, #2222aa);
     border: 0;
     padding-left: 40px;
     padding-right: 40px;
     padding-bottom: 10px;
     padding-top: 10px;
     font-family: 'Ubuntu', sans-serif;
     margin-left: 35%;
     font-size: 13px;
     box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
 }

 .bottoneRegistrazione{
     width: 25%;
     min-width: 100px;
     cursor: pointer;
     border-radius: 5em;
     color: #fff;
     opacity: 1;
     background: linear-gradient(to right, #aa2222, #2222aa);
     border: 0;
     font-family: 'Ubuntu', sans-serif;
     font-size: 13px;
     box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
 }

 .un:focus, .pass:focus {
     border: 2px solid rgba(0, 0, 0, 0.18) !important;

 }

 form.loginform {
     padding-top: 5px;
 }

.logeen {
    align-self: center;
    background-color: #FFFFFF;
    opacity: 0.9;
    width: 320px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -160px;
    top: 50%;
    margin-top: -150px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.entra {
    padding-top: 10px;
    opacity: 1;
    color: #2222aa;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.prodotti{
    max-width: 800px;
    max-height: 800px;
    min-width: 300px;
    min-height: 300px;
}

 .prodottihome{
     height: auto;
     width: auto;
     max-width: 360px;
     max-height: border-box;
 }

 .cartolina {
     width: 284px;
     padding: 10px 10px 25px 10px;
     overflow: hidden;
     background-color: white;
     box-shadow: 10px 10px 5px #aaaaaa;
 }

 #cartolinafoto{
     width:auto;
     min-width: 230px;
     min-height: 230px;
     max-height: 230px;
     overflow: hidden;
 }

 #cartolinacorsivo{
     font-family: Forte;
     font-weight: bolder;
     font-size: large;
     transform: rotate(-11deg);
     float: right;
     padding-right: 20px;
 }

.containerImmagini{
    background-repeat: no-repeat;
    background-size: auto;
    border: none;
    padding: 0;
    margin: 10px;
}

.containerImmagini:hover{
    cursor: pointer;
}

body{
    background-color: #e6ecf5;
     background-image: url("../sitimg/garpiclogin.png");
     background-repeat: no-repeat;
     background-position-x: center;
     background-position-y: 8vh;
 }



.sito{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    padding: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bot: 10px;
    background-color: bisque;
    flex-wrap: wrap;
}

#homecontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
     padding: 1%;
     margin: 1%;
     background-color: #d6dce4;
     border: 0px;
     border-radius: 1.5em;
     box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#tagcontainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.tagsForm{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 2px;
}

#homecontainer #chiamaProdotto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tagButton{
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background-color:#a79bb5;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Raleway', sans-serif;
    font-size:15px;
    margin: 3px;
    padding: 1px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}

.tagButton:hover{
    background-color:#a96bb8;
}

 #spazio_registrazione{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     align-items: center;
     width: 100%;
     box-sizing: border-box;

 }

 #spazio_registrazione form{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     align-items: center;
     width: 70%;
     box-sizing: border-box;
     background-color: #d6dce4;
     border: 0px;
     border-radius: 1.5em;
     box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
     padding: 30px 3%;

 }

 #spazio_registrazione form .riga_input{
     display: flex;
     width: 100%;
     justify-content: space-between;
     align-content: flex-start;
 }

 #spazio_registrazione form .riga_input:last-child{
     justify-content: center;
     align-content: center;
     align-items: center;
 }


 #spazio_registrazione form .riga_input .spazioinput{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 40%;
     min-width: 250px;
     height: 40px;
     box-sizing: border-box;
     margin: 30px 0;
 }

 #spazio_registrazione form .riga_input .spazioinput:last-child{
     justify-content: center;
 }

 #spazio_registrazione form .riga_input .spazioinput p{
     padding:0;
     margin: 0 auto;
 }

 #spazio_registrazione form .riga_input .spazioinput input{
        padding: 10px 20px;
 }

 @media all and (max-width: 767px){
     #spazio_registrazione form .riga_input{
         flex-direction: column;
         align-items: center;
         align-content: center;
         justify-content: center;
     }
 }

